body {
  font: $mainFont;
  background: $backgroundColor;
  color: $typeDefault;
} 
//h1,h2,h3,h4,h5,h6
#{headings()}{
  font: $headFont;
  background: $headColor;
  font-weight: $bold;
}

P {
  font-weight:$thin;
  padding-bottom: 10px;
}
